<a href="https://colab.research.google.com/github/gagansingh23/DS-Unit-2-Linear-Models/blob/master/Gagan_Singh_LS_DS_212_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [0]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [0]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [5]:
df.head()

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [0]:
#new feature length of desciption
df['length_of_description'] = df['description'].astype(str).apply(len)

In [7]:
#Create a new feature total rooms 
df['total_rooms'] = df['bathrooms'] + df['bedrooms']
df.head()

   bathrooms  bedrooms  ... length_of_description total_rooms
0        1.5         3  ...                   588         4.5
1        1.0         2  ...                     8         3.0
2        1.0         1  ...                   691         2.0
3        1.0         1  ...                   492         2.0
4        1.0         4  ...                   479         5.0

[5 rows x 36 columns]

In [0]:
#Set a datetime object before we can split
df['Date'] = pd.to_datetime(df['created'])
df = df.set_index(df['Date'])
df = df.sort_index()

In [9]:
#Split the data into train and test for train = April and May 2016 test = June 2016
train = df['2016-04-1':'2016-05-31']
test  = df['2016-06-1': '2016-06-30']
print('Train Dataset:',train.shape)
print('Test Dataset:',test.shape)

Train Dataset: (31844, 37)
Test Dataset: (16973, 37)

In [0]:
import sklearn_pandas
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [11]:

features = ['total_rooms', 'length_of_description']
print(f'Linear Regression, dependent on: {features}')

X_train = train[features]
X_test = test[features]

Linear Regression, dependent on: ['total_rooms', 'length_of_description']

In [0]:
target = 'price'
y_train = train[target]
y_test = test[target]

In [0]:
model = LinearRegression()

In [14]:
#fit the model 
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
#test
total_rooms = 4
length_of_description = 50
X_test = [[total_rooms, length_of_description]]
y_pred = model.predict(X_test)
y_pred

array([4392.65104878])

In [16]:
4 * 798 + 50*0.35 + 1185

4394.5

In [17]:
model.intercept_, model.coef_

(1184.9158880867144, array([7.97577503e+02, 3.48502968e-01]))

In [18]:
#start the equation
print('Intercept', model.intercept_)
coefficients = pd.Series(model.coef_, features)
print(coefficients.to_string())

Intercept 1184.9158880867144
total_rooms              797.577503
length_of_description      0.348503

In [19]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from math import sqrt

y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
print(mae)

mse = mean_squared_error(y_train, y_pred)
print(mse)

rmse = np.sqrt(mse)
mae = mean_absolute_error(y_train, y_pred)
r2 = r2_score(y_train, y_pred)

888.3540880089103
1779554.4321132416

In [20]:
#mean squared error
mse = mean_squared_error(y_train, y_pred)
print(mse)

1779554.4321132416

In [21]:
#mean absolute error
mae = mean_absolute_error(y_train, y_pred)
mae

888.3540880089103

In [22]:
#root mean squared error
rmse = np.sqrt(mse)
print(rmse)

1333.999412336168

In [25]:
#r^2
r2 = r2_score(y_train, y_pred)
print(r2)

0.42687978748166955

In [26]:
mae = mean_absolute_error(y_test, y_pred)

ValueError: ignored